$basicBlack: #000000;
$basicWhite: #ffffff;

$primaryColor: #409eff;
$sideBarWidth: 210px;

:root {
  --basicBlack: #000000;
  --basicWhite: #ffffff;
  --primaryColor: #409eff;
}

.list-body{
  margin: 10px 0;
}

.dialog-form{
  max-width: 600px;
  margin: 20px auto;
}
